<div local-class="footer">
  <div local-class="container">
    <img local-class="img-left" src="images/gb.svg">
    <button local-class="button">
      ENG
    </button>
    <button local-class="button">
      RUS
    </button>
    <img local-class="img-right" src="images/ru.svg">
  </div>
</div>
