<div local-class="footer">
  <div local-class="container">
    <h3 local-class="text"> {{t "languages"}} </h3>
    <div local-class="image-container">
      <img local-class="img-left" onclick={{action this.buttonSelected "left"}} src="images/gb.svg">
      <img local-class="img-right" onclick={{action this.buttonSelected "right"}} src="images/ru.svg">
    </div>
  </div>
</div>
