<div local-class="{{header}}">
  {{#if (eq header "header")}}
    <div local-class="header-content">
      <img local-class="heading-img" src="images/olya-name.png">
      <h2 local-class="sub-heading">
        English Language Teacher and Translator
      </h2>
    </div>
  {{/if}}
  <div local-class="nav-bar">
    {{#link-to 'home'
      class=(local-class "nav-item")
      activeClass=(local-class "active")}}
      Home
    {{/link-to}}
    {{#link-to 'teaching'
      class=(local-class "nav-item")
      activeClass=(local-class "active")}}
      Teaching
    {{/link-to}}
    {{#link-to 'translation'
      class=(local-class "nav-item")
      activeClass=(local-class "active")}}
      Translation
    {{/link-to}}
    {{#link-to 'contact'
      class=(local-class "nav-item")
      activeClass=(local-class "active")}}
      Contact
    {{/link-to}}
  </div>
</div>
