.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  color: #4a4047;
  line-height: 140%;
  width: 400px;
  margin-left: auto;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.content {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin-top: 140px;
}

.container {
  background-image: url("../../public/images/books.jpg");
}

.img {
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 3px -1px 7px #888888;
}

.underlay {
  opacity: .3;
  position:relative;
}

.link {
  text-decoration: none;
}
