.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  height: calc(100vh - 210px);
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin-top: 140px;
  overflow: hidden;
}

.container {
  width: 100%;
}

.underlay {
  position: relative;
  width: 100%;
  opacity: .4;
  object-fit: cover;
  z-index: 0;
}

.text {
  position: absolute;
  top: 25%;
  right: 60%;
  color: #211c1b;
  line-height: 140%;
  width: 500px;
  margin-left: auto;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.img {
  position: absolute;
  top: 25%;
  right: 35%;
  width: 275px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 3px -1px 7px #888888;
  border-radius: 5px;
  transition: 1s;
}

.img:hover {
  transform: scale(1.05);
}

.link {
  text-decoration: none;
}
