.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  background-color: #ffcff4;
  height: 140px;
  padding: 0;
  margin-bottom: 5px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
}

.heading-img {

}

.sub-heading {
  font-size: 14px;
  font-weight: 200;
  color: #4a4047;
  letter-spacing: .8px;
}
