.footer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #61505f;
  box-shadow: 0px 2px 5px 5px rgba(186,182,186,1);
}

.text {
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .8px;
}

.img-left {
  border-radius: 3px;
  width: 20px;
}

.img-right {
  border-radius: 3px;
  width: 20px;
  margin-left: 8px;
}

.img-right:hover {
  box-shadow: 1px -1px 3px #888888;
  border: solid 2px #60b4f0;
}

.img-left:hover {
  box-shadow: 1px -1px 3px #888888;
  border: solid 2px #60b4f0;
}

.container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.image-container {
  height: 20px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: #dbbfd9;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}
