{{page-header
  header=header}}
<div local-class="body">
  <div local-class="content">
    <div local-class="container">
      <!-- <img local-class="underlay" src="images/books.jpg"> -->
      <p local-class="text"> Olga is an experienced English teacher, who has engaged in all aspects
          of teaching from developing English courses to helping people to apply their knowledge
          in real life. I have a strong background in the education industry and linguistic study
           which I got at the
           <a local-class="link" href="https://lunn.ru/en"> Nizhny Novgorod Linguistic University. </a>
           Along with teaching, my other passion is translating. In my opinion, both of them are
           professions that require a certain level of creativity and that’s a big part of me.
      </p>
    </div>
    <img local-class="img" src="images/olya-pic.jpg">
  </div>
</div>
{{page-footer}}
